nav.navbar{
    background-color: pink;
  }
nav.navbar a.navbar-brand img {
    width: 200px;
    height: auto;
  }
  
nav.navbar div.container-fluid div.navbar-nav {
   width: 90%;  
  }
  
nav.navbar div.container-fluid div.navbar-nav a.nav-link{
     margin-left: 10%;
  }
nav.navbar div.container-fluid div.navbar-nav a.nav-link img#logoInstagram{
    height: 2.5rem;
  }