nav.navbar{
    background-color: pink;
  }
nav.navbar a.navbar-brand img {
    width: 200px;
    height: auto;
  }
  
nav.navbar div.container-fluid div.navbar-nav {
   width: 90%;  
  }
  
nav.navbar div.container-fluid div.navbar-nav a.nav-link{
     margin-left: 10%;
  }
nav.navbar div.container-fluid div.navbar-nav a.nav-link img#logoInstagram{
    height: 2.5rem;
  }

nav.navbar div.container-fluid div.navbar-nav div.dropdown a#dropdownMenuLink{
  background-color: powderblue;
  border-color: black;
  margin-top: 10%;
  outline: none;
}  

nav.navbar div.container-fluid div.navbar-nav div.dropdown ul.dropdown-menu a.navbar__botonCategorias{
  background-color: pink;
  margin-top: 10px;

}